form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

input {
  margin-left: 2rem;
  border-radius: 1rem;
  background-color: #3b82f6;
}

input:focus {
  background-color: #bfdbfe;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
