/* Footer*/
.image {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  width: 25px;
  height: 25px;
}

footer > p {
  margin: 0;
  padding-top: 0.7rem;
}

.footer-wrapper {
  max-height: 5rem;
  display: flex;
  background-color: #f3f4f6;
  justify-content: space-between;
  padding: 0 120px;
  margin-top: 20px;
  flex-grow: 1;
}

.logo {
  display: flex;
  align-items: center;
}

.img-logo {
  width: 200px;
}

.media-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
