* {
  transition: background-color 0.5s ease;
  transition: color 0.2s ease;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Cards */

.card {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 12rem;
  padding: 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
  gap: 2rem;
  padding: 5;
  margin: 0 2px;
  border-radius: 10px;
  flex-wrap: wrap;
}

.card:hover {
  border: 0.5px solid rgb(0, 132, 255);
}

.card-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  height: auto;
  flex-wrap: wrap;
  margin: auto;
}

.card-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 12rem;
  padding: 0.5rem;
  gap: 2rem;
  padding: 5;
  margin: 0 2px;
  flex-wrap: wrap;
}

.favButton {
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
}

.favButton:hover {
  background-color: rgba(136, 136, 136, 0.5);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

/* h1 */
h1 {
  display: flex;
  font-size: 2rem;
  margin: 2rem;
  text-align: middle;
  font-weight: 500;
  justify-content: center;
}

a {
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
  color: inherit;
}

a:hover {
  color: rgb(136, 136, 136);
}

/* Detail table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 1000px;
  display: table;
  border: 1px solid #ccc;
  margin: auto;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* Theme */
.dark {
  background-color: #12121296;
  color: white;
}

.dark > a {
  color: white;
}

.img-doctor {
  width: 70%;
  height: 70%;
  object-fit: cover;
  border-radius: 10px;
}
